@import '../../../../assets/css/style.global.scss';

/deep/ .dx-popup-content {
  padding-top: 20px !important;
}
.scheduale-page {
  height: 100%;

  /deep/ .popup-class-select-student-container {
    height: 100%;

    /deep/ #data-grid-student {
      .dx-toolbar {
        .dx-toolbar-after {
          left: -15px !important;
          width: 100% !important;
        }
      }
    }
  }
}

/deep/ .appointment-content {
  font-size: 18px;

  .appointment-text {
    font-weight: bold;
  }
}
