<dx-scheduler #schedualeClassEditor
              [dataSource]="dataSource"
              [views]="['month', 'week', 'day']"
              currentView="month"
              [firstDayOfWeek]="1"
              [showAllDayPanel]="false"
              [height]="600"
              (onAppointmentAdded)="onAppointmentEvent($event, 'add')"
              (onAppointmentDeleted)="onAppointmentEvent($event, 'delete')"
              (onAppointmentUpdated)="onAppointmentEvent($event, 'update')">

    <dxi-resource fieldExpr="id_ref"
                  displayExpr="name"
                  [allowMultiple]="false"
                  [dataSource]="resourcesDataSource"
                  label="Lớp">
    </dxi-resource>
</dx-scheduler>
