<div class="scheduale-page">
  <dx-scheduler #schedualeClassEditor
              [dataSource]="dataSource"
              [views]="['']"
              currentView="month"
              [firstDayOfWeek]="1"
              [showAllDayPanel]="false"
              [startDayHour]="7"
              [endDayHour]="22"
              [height]="'100%'"
              (onAppointmentAdded)="onAppointmentEvent($event, 'add')"
              (onAppointmentDeleted)="onAppointmentEvent($event, 'delete')"
              (onAppointmentUpdated)="onAppointmentEvent($event, 'update')"
              (onAppointmentFormCreated)="onAppointmentFormCreated($event)">

    <dxi-resource fieldExpr="id_ref"
                  displayExpr="name"
                  [allowMultiple]="false"
                  [dataSource]="resourcesDataSource"
                  label="Lớp">
    </dxi-resource>
  </dx-scheduler>
</div>
