<div class="scheduale-page">
  <dx-scheduler #schedualeClassEditor
              [dataSource]="dataSource"
              [views]="['']"
              currentView="month"
              [firstDayOfWeek]="1"
              [showAllDayPanel]="false"
              [startDayHour]="7"
              [endDayHour]="22"
              [height]="'100%'"
              appointmentTooltipTemplate="appointment-template"
              (onAppointmentClick)="onAppointmentEvent($event, 'click')"
              (onAppointmentAdded)="onAppointmentEvent($event, 'add')"
              (onAppointmentDeleted)="onAppointmentEvent($event, 'delete')"
              (onAppointmentUpdated)="onAppointmentEvent($event, 'update')"
              (onAppointmentFormCreated)="onAppointmentFormCreated($event)">

    <dxi-resource fieldExpr="id_ref"
                  displayExpr="name"
                  [allowMultiple]="false"
                  [dataSource]="resourcesDataSource"
                  label="Lớp">
    </dxi-resource>

    <div *dxTemplate="let appointment of 'appointment-template'">
      <div class="appointment-content">
        <div class="appointment-text">{{appointment?.text}}</div>
        <div class="appointment-dates">
          {{(appointment?.startDate | date:'shortTime') + ' - ' + (appointment?.endDate | date:'shortTime')}}
        </div>
        <div class="appointment-students">
          <div class="appointment-student"
              *ngFor="let student of selectedClass?.students"
              [ngStyle]="{background: selectedClass?.color}"
              [routerLink]="student?.id">
            {{ student?.name }}
          </div>
        </div>
        <div>
          <dx-button title="Xóa lịch" class="delete-appointment" type="danger" icon="trash" (onClick)="onAppointmentEvent({ appointmentData: appointment }, 'delete')"></dx-button>
          <dx-button title="Điểm danh" class="delete-appointment" type="success" icon="fa fa-calendar-check-o" (onClick)="showPopupSelectStudent(selectedClass)"></dx-button>
        </div>
      </div>
    </div>
  </dx-scheduler>

  <!-- POPUP SELECT STUDENT -->
  <dx-popup #popupSelectStudent [fullScreen]="true" [(visible)]="isPopupSelectStudentVisible" [dragEnabled]="false">
    <div *dxTemplate="let data of 'title'" class="dx-popup-title-custom dx-popup-title dx-toolbar">
      <div class="title-container">
        ĐIỂM DANH: {{ selectedClass?.class_name }}
          - {{ selectedClass.startDate | date:'shortTime' }}
          - {{ selectedClass.endDate | date:'shortTime' }}
          {{ ' (' + (selectedClass.startDate | date:'dd/MM/yyyy') + ')'}}
      </div>
      <div class="btn-title-container">
        <dx-button class="btn-title-custom" icon="fa fa-times" type="danger" width="50" [ngbTooltip]="'Đóng'" [placement]="'bottom'" (click)="popupSelectStudent.instance.hide();"></dx-button>
      </div>
    </div>
    <div *dxTemplate="let data of 'content'">
      <div class="popup-class-select-student-container">
        <app-student #studentComponent [isSelectMode]="true" [isLoadAllStudent]="false" (changeTypeCheck)="changeTypeCheck($event)"></app-student>
      </div>
    </div>
  </dx-popup>
</div>
