@import '../../../../assets/css/style.global.scss';

.student-page {
  .content-container {
    position: relative;
    #btn-add {
      position: absolute;
      width: 150px;
      top: 0;
      left: 0;
    }

    /deep/ #data-grid-student {
      .dx-toolbar {
        .dx-toolbar-after {
          padding: 0;
          left: 0;
          width: calc(100% - 16px);

          .dx-toolbar-item:first-child {
            width: 36px;

            .dx-button {
              background: $color_primary;

              i {
                color: $color_label_primary;
              }
            }
          }
        }
      }

      .btn-action-column {
        display: flex;

        .btn-action-container {
          flex: 1 1 0;
          text-align: center;
        }
      }
    }
  }
}

/deep/ .popup-student-edit-container {
  .field-value {
    margin: 5px 0;
  }

  .date-container {
    display: flex;

    .date-field {
      flex: 1 1 0;
    }
  }

  .btn-save {
    margin-top: 10px;
  }
}
