<div class="student-page">
  <!-- CONTENT -->
  <div class="content-container">
    <dx-data-grid keyExpr="id" id="data-grid-student"
      #dataGridStudent
      [dataSource]="listItemsDisplay"
      [height]="'100%'"
      [showColumnHeaders]="true"
      [hoverStateEnabled]="true" [activeStateEnabled]="true" [focusStateEnabled]="true"
      [rowAlternationEnabled]="true"
      noDataText="Không có dữ liệu!"
      [loadPanel]="true"
      [allowColumnResizing]="true"
      (onContentReady)="onContentReady($event)"
      [allowColumnReordering]="true"
      [showBorders]="false"
      [columnFixing]="true"
      [columnAutoWidth]="true"
      (onEditingStart)="logEvent('EditingStart', $event)"
      (onInitNewRow)="logEvent('InitNewRow', $event)"
      (onRowInserting)="logEvent('RowInserting', $event)"
      (onRowInserted)="editStudent($event, false)"
      (onRowUpdating)="logEvent('RowUpdating', $event)"
      (onRowUpdated)="editStudent($event, true)"
      (onRowRemoving)="logEvent('RowRemoving', $event)"
      (onRowRemoved)="deleteStudent($event)"
      (selectedRowKeysChange)="selectedRowKeysChange($event)">

      <dxo-editing *ngIf="!isSelectMode"
        mode="form"
        [allowUpdating]="true"
        [allowDeleting]="true"
        [allowAdding]="true"
        [useIcons]="true"
        [texts]="{
          cancelRowChanges: 'Hủy',
          confirmDeleteTitle: 'XÓA DỮ LIỆU',
          confirmDeleteMessage: 'Bạn thực sự muốn xóa dữ liệu này?',
          saveRowChanges: 'Lưu'
        }">
      </dxo-editing>

      <dxo-selection *ngIf="isSelectMode"
                    [allowSelectAll]="true"
                    [mode]="'multiple'"
                    [selectAllMode]="'page'">
      </dxo-selection>

      <!-- CONFIG SEARCH -->
      <dxo-filter-row [visible]="true"></dxo-filter-row>
      <dxo-header-filter [visible]="true"></dxo-header-filter>
      <dxo-search-panel [visible]="true" [width]="'100%'" [placeholder]="'Tìm kiếm'"></dxo-search-panel>
      <!-- COLUMNS DEFINE -->
      <dxi-column [caption]="'ĐIỂM DANH'" *ngIf="!isLoadAllStudent" [fixed]="true" [cellTemplate]="'reasonEditCellTemplate'" [width]="170" [alignment]="'center'" [allowSearch]="true"></dxi-column>
      <div *dxTemplate="let cell of 'reasonEditCellTemplate'">
        <dx-select-box [value]="cell?.data?.type" [dataSource]="statusCheck" [valueExpr]="'id'" [displayExpr]="'name'" [searchExpr]="'name'" (onValueChanged)="saveTypeCheck(cell, $event)"></dx-select-box>
      </div>

      <dxi-column caption="HỌ TÊN" dataField="name" [width]="300" [fixed]="true">
        <dxi-validation-rule type="required"></dxi-validation-rule>
      </dxi-column>
      <dxi-column caption="SĐT" dataField="phone" [alignment]="'center'" [width]="200" [alignment]="'right'" [fixed]="true"></dxi-column>
      <dxi-column caption="NGÀY SINH" dataField="birthday" [alignment]="'center'" [minWidth]="200" [dataType]="'date'" [format]="'dd/MM/yyyy'" [hidingPriority]="isSelectMode ? 1 : -1">
        <dxi-validation-rule type="required"></dxi-validation-rule>
      </dxi-column>
      <dxi-column caption="NGÀY NHẬP HỌC" dataField="start_date" [alignment]="'center'" [width]="200" [dataType]="'date'" [format]="'dd/MM/yyyy'" [hidingPriority]="isSelectMode ? 2 : -1">
        <dxi-validation-rule type="required"></dxi-validation-rule>
      </dxi-column>
      <dxi-column caption="BẮT ĐẦU THÁNG MỚI" dataField="new_month_date" [alignment]="'center'" [width]="200" [dataType]="'date'" [format]="'dd/MM/yyyy'" [hidingPriority]="isSelectMode ? 3 : -1">
        <dxi-validation-rule type="required"></dxi-validation-rule>
      </dxi-column>
      <dxi-column caption="NGÀY ĐÓNG TIỀN" dataField="payment_date" [alignment]="'center'" [width]="200" [dataType]="'date'" [format]="'dd/MM/yyyy'" [hidingPriority]="isSelectMode ? 4 : -1">
        <dxi-validation-rule type="required"></dxi-validation-rule>
      </dxi-column>
      <dxi-column caption="EMAIL" dataField="email" [alignment]="'center'" [minWidth]="230" [hidingPriority]="isSelectMode ? 5 : -1">
        <dxi-validation-rule type="email"></dxi-validation-rule>
      </dxi-column>
      <dxi-column caption="GHI CHÚ" dataField="description" [minWidth]="250" [editCellTemplate]="'descriptionEditCellTemplate'" [hidingPriority]="isSelectMode ? 6 : -1"></dxi-column>
      <div *dxTemplate="let cell of 'descriptionEditCellTemplate'">
        <dx-text-area [valueChangeEvent]="'keyup'" [value]="cell.data.description" (valueChange)="cell.setValue($event)"></dx-text-area>
      </div>
      <!-- CONFIG PAGING -->
      <dxo-paging [pageSize]="20" [enabled]="true"></dxo-paging>
      <dxo-pager [visible]="true"
                [showPageSizeSelector]="true"
                [allowedPageSizes]="[20, 50, 100]"
                [showInfo]="true"
                infoText="Trang {0}/{1}. (Tổng: {2})">
      </dxo-pager>
    </dx-data-grid>
  </div>
</div>
