<div class="student-page">
  <!-- CONTENT -->
  <div class="content-container">
    <dx-data-grid id="data-grid-student"
      [dataSource]="listItemsDisplay"
      [showColumnHeaders]="true"
      [hoverStateEnabled]="true" [activeStateEnabled]="true" [focusStateEnabled]="true"
      noDataText="Không có dữ liệu!"
      [loadPanel]="true"
      [allowColumnResizing]="true"
      (onContentReady)="onContentReady($event)"
      keyExpr="id"
      [allowColumnReordering]="true"
      [showBorders]="true"
      (onEditingStart)="logEvent('EditingStart', $event)"
      (onInitNewRow)="logEvent('InitNewRow', $event)"
      (onRowInserting)="logEvent('RowInserting', $event)"
      (onRowInserted)="logEvent('RowInserted', $event)"
      (onRowUpdating)="logEvent('RowUpdating', $event)"
      (onRowUpdated)="logEvent('RowUpdated', $event)"
      (onRowRemoving)="logEvent('RowRemoving', $event)"
      (onRowRemoved)="logEvent('RowRemoved', $event)">
      <dxo-editing
         mode="form"
         [allowUpdating]="true"
         [allowDeleting]="true"
         [allowAdding]="true"
         [useIcons]="true">
      </dxo-editing>
      <!-- CONFIG SEARCH -->
      <dxo-filter-row [visible]="true"></dxo-filter-row>
      <dxo-header-filter [visible]="true"></dxo-header-filter>
      <dxo-search-panel [visible]="true" [width]="'100%'" [placeholder]="'Tìm kiếm'"></dxo-search-panel>
      <!-- COLUMNS DEFINE -->
      <dxi-column caption="HỌ TÊN" dataField="name" [width]="'auto'">
        <dxi-validation-rule type="required"></dxi-validation-rule>
      </dxi-column>
      <dxi-column caption="NGÀY SINH" dataField="birthday" [alignment]="'center'" width="200" [dataType]="'date'" [format]="'dd/MM/yyyy'"></dxi-column>
      <dxi-column caption="NGÀY BẮT ĐẦU" dataField="start_date" [alignment]="'center'" width="200" [dataType]="'date'" [format]="'dd/MM/yyyy'"></dxi-column>
      <dxi-column caption="BẮT ĐẦU THÁNG MỚI" dataField="new_month_date" [alignment]="'center'" width="200" [dataType]="'date'" [format]="'dd/MM/yyyy'"></dxi-column>
      <dxi-column caption="NGÀY ĐÓNG TIỀN" dataField="payment_date" [alignment]="'center'" width="200" [dataType]="'date'" [format]="'dd/MM/yyyy'"></dxi-column>
      <dxi-column caption="SỐ ĐIỆN THOẠI" dataField="phone" [width]="'auto'"></dxi-column>
      <dxi-column caption="EMAIL" dataField="phone" [width]="'auto'">
        <dxi-validation-rule type="required"></dxi-validation-rule>
        <dxi-validation-rule type="email"></dxi-validation-rule>
      </dxi-column>
      <dxi-column caption="GHI CHÚ" dataField="description" [editCellTemplate]="'descriptionEditCellTemplate'"></dxi-column>
      <div *dxTemplate="let cell of 'descriptionEditCellTemplate'">
        <dx-text-area [valueChangeEvent]="'keyup'" [value]="cell.data.description" (valueChange)="cell.setValue($event)"></dx-text-area>
      </div>

      <!-- CONFIG PAGING -->
      <dxo-paging [pageSize]="10" [enabled]="true"></dxo-paging>
      <dxo-pager [visible]="true"
                [showPageSizeSelector]="true"
                [allowedPageSizes]="[5, 10, 20]"
                [showInfo]="true"
                infoText="Trang {0}/{1}. (Tổng: {2})">
      </dxo-pager>
    </dx-data-grid>
  </div>
</div>
