<mat-toolbar color="primary">
  <button mat-button [routerLink]="['/admin/course']">KHÓA HỌC</button>
  <button mat-button [routerLink]="['/admin/class']">LỚP HỌC</button>
  <button mat-button [routerLink]="['/admin/student']">HỌC VIÊN</button>
  <button mat-button [routerLink]="['/admin/scheduale']">XẾP LỊCH</button>
  <button mat-button [routerLink]="['/admin/exam']">BÀI KIỂM TRA</button>
  <!-- <button mat-button [routerLink]="['/admin/dashboard']">Dashboard</button> -->
  <button mat-button [routerLink]="['/login']">ĐĂNG XUẤT</button>
</mat-toolbar>
<div class="admin-page">
  <router-outlet></router-outlet>
</div>
