// Header
.dx-datagrid-headers {

  .dx-header-row {
    min-height: 30px;
    line-height: 30px;
    // color: #fff;
    font-weight: bold;
    // background-color: #212529;
    // border-color: #32383e;

    td {
      text-align: center !important;
    }
  }
}

.dx-popup-title {
  font-size: 20px;

  i {
    cursor: pointer;
    padding: 0 5px;
  }

  i:hover {
    color: #4e6f90;
  }
}
